.coeurvide2 {
    display: block;
    position: relative;
    font-size: 21px;
    font-weight: lighter;
    left: 111%;
    top: -60px;
    background-color: transparent;
    color: black;
  }
  .coeurvide2:hover {
    cursor: pointer;
    color: transparent;
  }
  .coeurvide2:hover + .coeurplein2 {
    cursor: pointer;
    transform: scale(1);
    background: linear-gradient(to left, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
  }
  .coeurplein2 {
    position: relative;
    font-size: 21px;
    top: -95px;
    left: 111%;
    transform: scale(0);
    transition: transform 1s;
    color: transparent;
  }
  .coeurplein2:hover {
    cursor: pointer;
  }