.coeurvide {
    display: block;
    position: relative;
    font-size: 21px;
    margin-left: 90%;
    top: -45px;
    background-color: transparent;
    color: black;
  }
  .coeurvide:hover {
    cursor: pointer;
    color: transparent;
  }
  .coeurvide:hover + .coeurplein {
    cursor: pointer;
    transform: scale(1);
    background: linear-gradient(to left, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
  }
  .coeurplein {
    position: relative;
    font-size: 21px;
    top: -65px;
    left: 90%;
    transform: scale(0);
    transition: transform 1s;
    color: transparent;
  }
  .coeurplein:hover {
    cursor: pointer;
  }